<!DOCTYPE html>
<html>
	<link href="../css/modern.css" rel="stylesheet">
	<style type="text/css">
		body1{ font-size:15px;}
		background{background-color:green}
	</style>
	<body>
		<p>
			<head>
				<font size="5">Welcome</font>
			</head>
			<p>
			</p>
			<body1>
			Chemicaltools web is a kind of Cloud platforms for stoichiometric calculation.
			Chemical researcher could use this platform for querying chemicals' information 
			by their cas numbers,smile number and also,they can calculate models by mol 
			files and cas numbers. 
			</body1>
		</p>
	</body>
</html>