<!DOCTYPE html>

<html>
	<link href="css/modern.css" rel="stylesheet">
		<frameset cols="8%,86%,8%" style="marginwidth:20">
			<frame noresize="noresize" src="" frameborder="0" >
			
			<frameset rows="18%,40%,10%,32%,8%,2%" style="marginwidth:20">
			
				<frame noresize="noresize" src="html/supportedbrowsers.html" frameborder="0" scrolling="no">
				<frame noresize="noresize" src="html/Upload.html" frameborder="0" scrolling="no">
				<frameset cols="33%,33%,33%"  border="80">
					<frame noresize="noresize" src="html/frameSimple.html" frameborder="0" scrolling="no">
					<frame noresize="noresize" src="html/frameSufficient.html" frameborder="0" scrolling="no">
					<frame noresize="noresize" src="html/frameGithub.html" frameborder="0" scrolling="no">
				</frameset>
				<frameset cols="33%,33%,33%"  border="80" >
					<frame noresize="noresize" src="html/author.html" frameborder="0" scrolling=no>
					<frame noresize="noresize" src="html/welcome.html" frameborder="0" scrolling="no">
					<frame noresize="noresize" src="html/github.html" frameborder="0" scrolling="no">
				</frameset>
				<frame noresize="noresize" src="html/copyright.html" frameborder="0" scrolling="no">
			</frameset>			
			<frame noresize="noresize" src="" frameborder="0"/> 
		</frameset>
</html>
